<!DOCTYPE HTML>
<html>
	<head>
		<title>Your Cart</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/cart.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/topStyle.css') }}" />
	</head>  
	<body>
		<section class="title">
			<a href="/"><img id="logo" src= "{{ url_for('static', filename='images/logo.png') }}" /></a>
			<ul>
                <li><a class="link" href="/cart">Cart {{noOfItems}}</a></li>
                {% if not loggedIn %}
				<li><div id="signInButton">
					<a class="link" href="/loginForm">Sign In</a>
				</div></li>
				{% else %}
				<li><div class="dropdown">
					<button class="dropbtn">{{firstName}}</button>
					<div class="dropdown-content">
						<a href="/account/orders">Your orders</a>
						<a href="/account/profile">Your profile</a>
						<hr>
						<a href="/logout">Sign Out</a>
					</div>
				</div></li>
                <li><a href="/">Home</a></li>
            </ul>	
			{% endif %}
		</section>
		<div id="cartItems">
			<h2>Shopping Cart</h2>
			<div id="tableItems">
				{% for row in products %}
				<div>					
					<hr id="seperator">
					<div id="itemImage">
						<img src="{{url_for('static', filename='uploads/'+row[3])}}" id="image"/>
					</div>
					<div id="itemName">
						<span id="itemNameTag">{{row[1]}}</span><br>
						In stock<br>
						<a href="/removeFromCart?productId={{row[0]}}">Remove</a>
					</div>
					<div id="itemPrice">
						Ksh{{row[2]}}
					</div>
				</div>
				{% endfor %}
				<hr id="seperator">
				<div id="total">
					<span id="subtotal">Subtotal</span> : Ksh{{totalPrice}}
				</div>
			</div>
		</div>
		
		<!-- <a href="/checkout"><button class="cta">Proceed to checkout</button></a> -->
		<a href="orderdetails.html" class="btn">Proceed to checkout &#8594;</a>
		<h3>Payment is via Mpesa</h3><br>
		<h3>Pick Up Location is at GPO </h3><br>
		<h3>Products Are Ready For Pick Up For Up To 7 Days After Purchase</h3><br>


		<section class="footer">
			<img id="logo" src= "{{ url_for('static', filename='images/logo.png') }} "/>
			<div class="subfooter">
			   <h3>Contact Us</h3>
			</div>   
			<div class="social-icon">
				<div class="social-item">
				<a href="mailto: ambuku@students.uonbi.ac.ke"><img src="https://img.icons8.com/clouds/100/000000/email.png"/></a>
				</div>
				<div class="social-item">
				<a href="#"><img src="https://img.icons8.com/clouds/100/000000/whatsapp.png"/></a>
				</div>
				<div class="social-item">
				<a href="#"><img src="https://img.icons8.com/clouds/100/000000/twitter.png"/></a>
				</div>
				<div class="social-item">
				<a href="#"><img src="https://img.icons8.com/clouds/100/000000/phone.png"/></a>
				</div>
			</div> 						
		</section>
	</body>
</html>

